@*@using Microsoft.Web.Samples*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASPSprites</title>
@*            @Sprite.ImportStylesheet("~/App_Sprites/")*@
</head>
<body>
@*    <div>*@
@*        @Sprite.Image("~/App_Sprites/AlarmClock.png")*@
@*        @Sprite.Image("~/App_Sprites/Heart.png")*@
@*        @Sprite.Image("~/App_Sprites/Cube.png")*@
@*        @Sprite.Image("~/App_Sprites/Negative.png")*@
@*        @Sprite.Image("~/App_Sprites/Picture.png")*@
@*        @Sprite.Image("~/App_Sprites/settings.png")*@
@*        @Sprite.Image("~/App_Sprites/Contrast.png")*@
@*        @Sprite.Image("~/App_Sprites/Share.png")*@
@*        @Sprite.Image("~/App_Sprites/Vibrate.png")*@
@*    </div>*@
</body>
</html>
